.edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  margin: auto 0;
  flex-shrink: 0;
}

@media screen and (max-width: 591px) {
  .edit-button {
    width: 18px;
    height: 18px;
  }
}
